<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590100495212-968nfrn47o17tn5ogu1ecm74eon9klb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590100495212-968nfrn47o17tn5ogu1ecm74eon9klb1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>590100495212-q0ptbdtlbpv97v9f9rcrl2r7814kq8ne.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCj6bSqILcbQV5zIHDox4pimkou-RHoL3M</string>
	<key>GCM_SENDER_ID</key>
	<string>590100495212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.litdraft.emailai</string>
	<key>PROJECT_ID</key>
	<string>emailai-9f0ff</string>
	<key>STORAGE_BUCKET</key>
	<string>emailai-9f0ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590100495212:ios:daa9e2fe5714c1e2af5149</string>
</dict>
</plist>